[submodule "src/cc/cpr"]
	path = src/cc/cpr
	url = git@github.com:whoshuu/cpr.git
[submodule "src/cc/json"]
	path = src/cc/json
	url = git@github.com:nlohmann/json.git
[submodule "src/cc/tclap-code"]
	path = src/cc/tclap-code
	url = git://git.code.sf.net/p/tclap/code
[submodule "src/esp8266/simple_sensor/lib/esphttpclient"]
	path = src/esp8266/simple_sensor/lib/esphttpclient
	url = git@github.com:sonologic/esphttpclient.git
